<!-- <p>cart works!</p> -->
<div class="container mt-5 pt-3">
  <div class="row m-auto mb-5 pb-3">
    <h1 class="display-2 text-center">Il tuo Carrello</h1>
  </div>
  <div class="row">
    <div class="col-md">
      <ng-container *ngIf="cart && cart.length > 0; else noCart">
       <div class="row w-75 m-auto">
         <h1 class="display-6 text-center">Articoli presenti nel tuo carrello:</h1>
         <ul class="list-group mt-5 m-auto">
          <li *ngFor="let product of cart" class="list-group-item list-group-item-action list-group-item-secondary">{{product.name}} <strong class="float-end">{{product.price | currency: '€'}}</strong></li>
        <li *ngIf="totalPrice" class="list-group-item list-group-item-action list-group-item-dark"><p class="float-end my-1"><i>Prezzo totale:</i> {{totalPrice | currency: '€'}}</p></li>
        </ul>
       </div>
       <h5 class="display-6 text-center mt-5">Inserisci i tuoi dati per completare l'acquisto:</h5>

       <!--Template Driven Form-->
       <form #form="ngForm" (ngSubmit)="submitForm(form)" class="w-75 my-5 m-auto">

          <div class="mb-3 form-group">
          <label for="name" class="form-label">Inserisci il tuo nome</label>
           <input type="text" name="name" id="name" class="form-control" required pattern="[A-Za-z]*" ngModel #name="ngModel">
            <div *ngIf="name.invalid && name.touched" class="alert alert-danger" role="alert">Il campo è vuoto.</div>
          </div>

          <div class="mb-3 form-group">
            <label for="address" class="form-label">Inserisci il tuo indirizzo</label>
             <input type="text" name="address" id="address" class="form-control" required ngModel #address="ngModel">
              <div *ngIf="address.invalid && address.touched" class="alert alert-danger" role="alert">Il campo è vuoto.</div>
            </div>

            <div class="mb-3 form-group">
              <label for="email" class="form-label">Inserisci il tuo indirizzo e-mail</label>
              <input type="email" name="email" id="email" class="form-control" required email ngModel #email="ngModel" >
              <div *ngIf="email.invalid && email.touched" class="alert alert-danger" role="alert">Il campo è vuoto.</div>
            </div>

        <button type="submit" [disabled]="form.invalid" class="btn btn-primary" (click)="completeOrder()">Completa l'acquisto!</button>
       </form>
      </ng-container>

 <!-- after completing an order-->
<ng-container *ngIf="endApp > 0">
        <div class="alert alert-dark w-50 m-auto my-5" role="alert">Il tuo acquisto è andato a buon fine!</div>
<div class="container w-50 m-auto mt-3">
  <button type="button" class="btn btn-primary" [routerLink]="'/'">Continua gli acquisti</button>
</div>
       </ng-container>
    </div>
    </div>

    <ng-template #noCart>
      <div class="alert alert-danger w-50 m-auto my-5" role="alert">
        Non ci sono articoli nel tuo carrello.
      </div>
    </ng-template>

</div>

