<!-- <p>cart works!</p> -->
<div class="container mt-5 pt-3">
  <div class="row m-auto mb-5 pb-3">
    <h1 class="display-2 text-center">Il tuo Carrello</h1>
  </div>
  <div class="row">
    <div class="col-md">
      <ng-container *ngIf="cart && cart.length > 0; else noCart">
       <div class="row w-75 m-auto">
         <h1 class="display-6 text-center">Articoli presenti nel tuo carrello:</h1>
         <ul class="list-group mt-5 m-auto">
          <li *ngFor="let product of cart" class="list-group-item list-group-item-action list-group-item-secondary">{{product.name}} <strong class="float-end">{{product.price | currency: '€'}}</strong></li>
        </ul>
       </div>
       <h5 class="display-6 text-center">Inserisci i tuoi dati per completare l'acquisto:</h5>

       <form [formGroup]="form">
        <div formGroupName="infoClient">
          <div class="mb-3 form-group">
          <label for="name" class="form-label">Inserisci il tuo nome</label>
           <input formControlName="name" type="text" name="name" id="name" class="form-control" required [pattern]="'A-Za-z'">
          </div>
          <div class="mb-3 form-group">
            <label for="address" class="form-label">Inserisci il tuo indirizzo</label>
             <input formControlName="address" type="text" name="address" id="address" class="form-control" required>
            </div>
            <div class="mb-3 form-group">
              <label for="email" class="form-label">Inserisci il tuo indirizzo e-mail</label>
               <input formControlName="email" type="email" name="email" id="email" class="form-control" required>
              </div>
        </div>
        <button class="btn btn-primary" (click)="completeOrder()">Completa l'acquisto!</button>
       </form>



      </ng-container>

    </div>
    </div>

    <ng-template #noCart>
      <div class="alert alert-danger w-50 m-auto" role="alert">
        Non ci sono articoli nel tuo carrello.
      </div>
    </ng-template>

</div>

